@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <p>Have questions? We would love to hear from you!</p>

    <address>
        <strong>Artimake Headquarters</strong><br>
        123 Craftsmen Lane<br>
        Artisan City, AC 12345<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

    <p>Email us at <a href="mailto:support@artimake.com">support@artimake.com</a> or follow us on social media.</p>

    <div>
        <a href="https://twitter.com/artimake" target="_blank">Twitter</a> |
        <a href="https://facebook.com/artimake" target="_blank">Facebook</a> |
        <a href="https://instagram.com/artimake" target="_blank">Instagram</a>
    </div>
</div>
